<header>
	<div class="container header_container">
		<div class="nav_wrapper">
			<p class="header_logo">Secure Nexus</p>
			<nav class="nav_block">
				<ul class="nav_list">
					<li class="nav_item"><a class="nav_link" href="#">Home</a></li>
					<li class="nav_item"><a class="nav_link" href="#">About Us</a></li>
					<li class="nav_item"><a class="nav_link" href="#">Services</a></li>
					<li class="nav_item"><a class="nav_link" href="#">Resource</a></li>
					<li class="nav_item"><a class="nav_link" href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="button_box">
			<button class="header_burger_btn">
				<svg width="53" height="35">
					<use class="burger_svg" href="../img/sprite.svg#icon-burger" />
				</svg>
			</button>
			<button class="header_btn" type="button">Get Protection Now</button>
		</div>
	</div>
</header>
