<section>
	<div class="container hero_container">
		<div class="head_box">
			<div class="head_box_content">
				<div class="hero_content_wrapper">
					<h1 class="hero_title">Empowering Your Digital World with Advanced Security Solutions</h1>
					<p class="hero_text">
						Discover unparalleled protection with Secure Nexus, your partners in defending against
						cyber threats and enhancing your operational integrity.
					</p>
					<div class="hero_button_box">
						<button type="button" class="hero_first_btn">Learn More</button>
						<button type="button" class="hero_second_btn">Get Started</button>
					</div>
				</div>
				<div class="hero_image_wrapper">
					<img
						class="hero_image"
						src="../img/hero-image.svg"
						alt="Hero image"
						width="550"
						height="470"
					/>
				</div>
			</div>
			<!-- <div class="hero_button_box">
				<button type="button" class="hero_first_btn">Learn More</button>
				<button type="button" class="hero_second_btn">Get Started</button>
			</div> -->
		</div>
		<div class="bottom_box">
			<ul class="hero_list">
				<li class="hero_item">
					<div class="hero_item_image">
						<!-- <img src="" alt=""> -->
					</div>
					<p class="hero_item_text">Comprehensive Security Audit</p>
				</li>
				<li class="hero_item">
					<div class="hero_item_image">
						<!-- <img src="" alt=""> -->
					</div>
					<p class="hero_item_text">Real-Time Threat Monitoring</p>
				</li>
				<li class="hero_item">
					<div class="hero_item_image">
						<!-- <img src="" alt=""> -->
					</div>
					<p class="hero_item_text">Cutting-Edge Cyber Defense Technologies</p>
				</li>
			</ul>
		</div>
	</div>
</section>
