@font-face {
	font-display: swap;
	font-family: 'Mashetic';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Mashetic.otf');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Poppins-SemiBold.ttf');
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	color: #fff;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background-color: #001531;
}

h1,
h2,
h3,
h4 {
	color: #fff;
	font-family: 'Mashetic';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

button {
	color: #fff;
	text-align: center;
	font-family: 'Mashetic';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.container {
	max-width: 1440px;
	padding: 0 91px;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
	.container {
		max-width: 1280px;
		padding: 0 60px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 768px;
		padding: 0 32px;
	}
}

@media screen and (max-width: 430px) {
	.container {
		max-width: 430px;
		padding: 0 15px;
	}
}
