*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	display: inline-block;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

ul li {
	list-style: none;
}

button {
	background-color: transparent;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-size: inherit;
}

html,
body {
	block-size: 100%;
}

p:last-child {
	margin-bottom: 0;
}
